{
  "env": {
    "browser": true,
    "node": true,
    "es6": true,
    "jquery": true
  },
  "extends": [
    "airbnb"
  ],
  "rules": {
    "function-paren-newline": 0,
    "global-require": 0,
    "import/prefer-default-export": 0,
    "import/no-dynamic-require": 0,
    "indent": ["error", 2],
    "linebreak-style": 0,
    "jsx-a11y/anchor-is-valid": 0,
    "jsx-a11y/label-has-for": 0,
    "max-len": 0,
    "no-console": 1,
    "no-case-declarations": 0,
    "no-confusing-arrow": 0,
    "no-mixed-operators": ["error", { "allowSamePrecedence": true }],
    "quotes": ["error", "single", { "allowTemplateLiterals": true }],
    "react/prefer-stateless-function": 0,
    "react/forbid-prop-types":0
  },
  "settings": {
    "import/resolver": {
      "node" : {
        "extensions" : [".js", ".jsx"],
        "moduleDirectory" : ["node_modules", "frontend/src"]
      }
    }
  }
}
