{
  "env": {
    "browser": true,
    "node": true,
    "es6": true,
    "jquery": true
  },
  "extends": [
    "airbnb"
  ],
  "rules": {
    "function-paren-newline": "off",
    "global-require": "off",
    "import/prefer-default-export": "off",
    "import/no-dynamic-require": "off",
    "indent": ["error", 2],
    "linebreak-style": "off",
    "jsx-a11y/anchor-is-valid": "off",
    "jsx-a11y/label-has-for": "off",
    "jsx-a11y/click-events-have-key-events": "off",
    "jsx-a11y/no-static-element-interactions": "off",
    "max-len": "off",
    "no-console": "warn",
    "no-case-declarations": "off",
    "no-confusing-arrow": "off",
    "no-loop-func" : "off",
    "no-mixed-operators": ["error", { "allowSamePrecedence": true }],
    "quotes": ["error", "single", { "allowTemplateLiterals": true }],
    "react/prefer-stateless-function": "off",
    "react/forbid-prop-types": "off",
    "react/jsx-max-props-per-line": "off"
  },
  "settings": {
    "import/resolver": {
      "node" : {
        "paths": ["frontend/src"]
      }
    }
  }
}
