.branch-carousel {
  height: 240px;
}

.next-chapter-info {
  text-align: center;
}

#next-chapter-title {
  font-weight: bold;
  font-size: 120%;
}

#next-chapter-description {
  width: 80%;
  margin: auto;
}

.carousel-image {
  width: 100%;
  height: 100%;
}

.slick-slide {
  opacity: 0.5;
  -ms-transform: scale3d(0.7, 0.7, 0.7);
  -webkit-transform: scale3d(0.7, 0.7, 0.7);
  -moz-transform: scale3d(0.7, 0.7, 0.7);
  -o-transform: scale3d(0.7, 0.7, 0.7);
  transform: scale3d(0.7, 0.7, 0.7);
  -ms-transition: transform 0.5s;
  -webkit-transition: transform 0.5s;
  -moz-transition: transform 0.5s;
  -o-transition: transform 0.5s;
  transition: transform 0.5s;
}

.slick-center {
  opacity: 1 !important;
  position: relative;
  z-index: 3;
  -ms-transform: scale3d(1, 1, 1) !important;
  -webkit-transform: scale3d(1, 1, 1) !important;
  -moz-transform: scale3d(1, 1, 1) !important;
  -o-transform: scale3d(1, 1, 1) !important;
  transform: scale3d(1, 1, 1) !important;
}
