.branch-carousel {
  height: 240px;
}

.next-chapter-info {
  text-align: center;
}

#next-chapter-title {
  font-weight: bold;
  font-size: 120%;
}

#next-chapter-description {
  width: 80%;
  margin: auto;
}

.carousel-image {
  width: 100%;
  height: 100%;
}

.slick-slide {
  opacity: 0.5;
}

.slick-center {
  opacity: 1 !important;
}
