.chapter-end-btn {
  right: 170px !important;
}

.chapter-end-like-btn {
  background-color: $primary-color !important;
  right: 25px !important;
}

.chapter-end-bookmark-btn {
  right: 72px !important;
}

.chapter-end-add-btn {
  background-color: $primary-color !important;
  right: 120px !important;
}

.chapter-end-text {
  font-size: 200%;
}

.select-branch-text {
  font-size: 150%;
}

.liked {
  background-color: #ef5350;
}

.liked:focus {
  background-color: #ef5350;
}

.bookmarked {
  background-color: #ef5350;
}

.bookmarked:focus {
  background-color: #ef5350;
}

