.card-image-fix {
  position: relative;
  width: 100%;
  padding-top: 56.25%;
}

.card-image-cropper {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  overflow: hidden;
}

.card-content {
  padding: 15px !important;
}

.card-title {
  margin: 0 !important;
  color: black;
}

.card-description {
  color: black !important;
}

.author-like {
  color: #ccc !important;
  text-align: right;
}

@media #{$medium-and-down} {
  .comic-card-wrap {
    width: 100%;
  }
}

@media #{$medium-and-up} {
  .comic-card-wrap {
    width: 50%;
    padding-left: 7px;
    padding-right: 7px;
  }
}

@media #{$large-and-up} {
  .comic-card-wrap {
    width: 33.3%;
    padding-left: 7px;
    padding-right: 7px;
  }
}
