.brand-logo {
  padding-top: 7px !important;
}

.logo {
  width: 40px;
}

.blue-nav {
  background-color: $primary-color;
  background-image: url(../image/table_cloth.png);
  height: 60px;
}

.active-link {
  height: 60px;
  color: white !important;
  border-bottom: 2px solid white;
}
