.name-card-wrapper {
  padding-top: 30px;
  padding-bottom: 30px;
}

#user_card_title {
  font-weight: bold;
  font-size: 200%;
}

#user_card_btn {
  background-color: #2196f3;
  display: block;
  height: 50px;
  padding-top: 10px;
  padding-bottom: 10px;
}

