@media #{$medium-and-up} {
  .name-card-wrapper {
    padding-top: 30px;
    padding-bottom: 30px;

    /* centering user card */
    width: 600px;
    margin: 0 auto;
  }
}

#user_card_title {
  font-weight: bold;
  font-size: 200%;
}
