.upload-box-wrapper {
  width: 1000px;
  margin: 0 auto;
}

#add_pic_button {
  background-color: $primary-color;
  position: relative;
  left: 70px;
  top: 70px;
}

#upload_btn {
  background-color: $primary-color;
  display: block;
  height: 52px;
  padding-top: 10px;
  padding-bottom: 10px;
  top: 20px;
}

#upload_input {
  display: none;
}

#cancel_pic_button {
  background-color: $primary-color;
  position: relative;
  left: 180px;
  top: -220px;
  z-index: 10;
}
