.upload-box-wrapper {
  max-width: 1000px;
  margin: 0 auto;
}

#add_pic_button {
  background-color: $primary-color;
  position: relative;
  left: 58px;
  top: 60px;
}

#upload_btn {
  background-color: $primary-color;
  display: block;
  height: 52px;
  padding-top: 10px;
  padding-bottom: 10px;
  top: 20px;
}

#upload_input {
  display: none;
}

#cancel_pic_button {
  background-color: $primary-color;
  position: relative;
  left: 65px;
  top: -195px;
  z-index: 10;
}

#cancel_pic_button_newbook {
  background-color: $primary-color;
  position: relative;
  left: 180px;
  top: -220px;
  z-index: 10;
}

#modalBoxButton {
  display: none;
}

#newBookCircle {
  margin: 0 auto;
  align-items: center;
  left: 50%;
}
